/* browse.css */
.browse-container {
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  text-align: left;
  background-color: #ffffff;
}

.browse-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: 'Times New Roman', Times, serif;
}

.browse-table th,
.browse-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.browse-table th {
  background-color: #399bcd;
  color: white;
}

.browse-table tr:nth-child(even) {
  background-color: #eaf7ff;
}

.browse-table tr:hover {
  background-color: #acb9ca;
}

.browse-table td[data-label='Count'] {
  color: #399bcd;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .browse-table thead {
    display: none;
  }
  .browse-table,
  .browse-table tbody,
  .browse-table tr,
  .browse-table td {
    display: block;
    width: 100%;
  }
  .browse-table tr {
    margin-bottom: 15px;
  }
  .browse-table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .browse-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}
