/* Header.css */

.header {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: rgb(14, 18, 83);
  padding: 40px;
}

.header-content {
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: center;
}

.header-text {
  flex: 1;
  padding-right: 40px;
  text-align: justify;
  text-justify: inter-word;
}

.header-logo {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.header h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
}

.header p {
  font-size: 18px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header-text {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .header-logo img {
    max-width: 80%;
  }

  .header h1 {
    font-size: 28px;
  }

  .header p {
    font-size: 16px;
  }
}
