/* MoleculeCard.css */
.molecule-card {
  display: flex;
  border: 3px solid #5e4379;
  padding: 16px;
  margin: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
  background-color: #fff;
}

.molecule-card:hover {
  box-shadow: 0 0 11px #5e4379;
  transform: translateY(-5px);
}

.molecule-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  border: 3px solid #5e4379;
  margin-right: 16px;
}

.molecule-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.molecule-card-content h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #000000;
}

.molecule-card-content p {
  margin: 4px 0;
  color: #666;
}

.molecule-card-content p strong {
  color: #000000;
}
